body{
    font-family: Helvetica, sans-serif;
}

.headerRed{
    margin-bottom: 60px;
}

#hero{
    margin-bottom: 70px;
}

.packung{
    width: 100%
}

#nachhaltig{
    width:100%
}

.carousel-caption{
    background-color: rgba(211, 211, 211, 0.39);
    border-radius: 40px;
    margin-bottom: 25px;
}

.card-headerU{
    background-color: white;
    margin-top: 30px;
    margin-left: 18px;
}
